/*
----------------------------------------
Helper Classes
----------------------------------------
*/

.table{
	display: table;
	width: 100%;
	height: 100%;

	.table-cell{
		width: 100%;
		display: table-cell;
		vertical-align: middle;
	}
}

/*
----------------------------------------
General
----------------------------------------
*/

html, body{
	height: 100%;
}

body {
	font-family: $trade;
	font-size: 100%;
	line-height: 1.5;
	color: $white;
	background-color: $black;
  -webkit-font-smoothing: antialiased;
  margin: 0;
  	transition: background-color 300ms cubic-bezier(0.57, 0.06, 0.05, 0.95);

  	&.loaded{
  		background-color: $purple;
  	}
}

h1{
	font-family: $triple;
	font-weight: normal;
	font-size: 350px;
	line-height: 0.6999999;
	letter-spacing: 5pt;
	position: absolute;
	text-align: center;
	margin: 0 !important;
	left: 50%;
	top: 50%;
	@include transform(translateY(-50%) translateX(-50%));
	width: 202px;
	height: 236px;
	overflow: hidden;
	word-wrap: none;
	white-space: nowrap;

	span{
		height: 100%;
		width: 60px;
		display: inline-block;
		position: relative;
		top: -8px;
		transition: all 300ms cubic-bezier(0.57, 0.06, 0.05, 0.95);
	}

	.w{
		@include transform(translateY(-105%));
	}

	.y{
		@include transform(translateY(105%));
		left: 3px;}

	.d{
		@include transform(translateY(-105%));
		left: -9px;}

	.q{
		@include transform(translateY(105%));
		left: -24px;
		width: 46px;}

	&.loaded{
		.w,.y,.d,.q{
			@include transform(translateY(0px));	
		}
	}





}

h2{
	font-family: $trade;
	font-weight: normal;
	font-size: 1rem;
	margin: 0 !important;
	line-height: 1;
	position: absolute;
	text-align: center;
	text-transform: uppercase;
	left: 0px;
	bottom: $gutter;
	width: 100%;
	opacity: 0;
	letter-spacing: 0.33pt;
		transition: all 300ms cubic-bezier(0.57, 0.06, 0.05, 0.95);

	&.loaded{
		opacity: 1;
	}
}

h3{
	width: 100px;
	height: 13px;
	text-indent: 100%;
	white-space: nowrap;
	overflow: hidden;
	background: url(../img/s-o.png) no-repeat center center;
	background-size: contain;
	font-family: $trade;
	font-weight: normal;
	font-size: 1rem;
	margin: 0 !important;
	line-height: 1;
	position: absolute;
	left: 50%;
	@include transform(translateX(-50%));

	top: $gutter;
	opacity: 0;
	transition: all 300ms cubic-bezier(0.57, 0.06, 0.05, 0.95);

	&.loaded{
		opacity: 1;
	}
}