/*
----------------------------------------
Button Defaults
----------------------------------------
*/

%btn {
  display: inline-block;
  position: relative;
  font-family: $trade;
  text-decoration: none;
  color: $white;
  font-size: 0.9em;
  font-size: 34px;
  line-height: 34px;
  font-weight: normal;
  padding: 0 24px;
  border-radius: 4px;
  border: 0;
  cursor: pointer;
  @include transition(background-color 0.14s ease-in-out);

  &:hover, &:focus {
    color: $white;
    text-decoration: none;
  }

  &:active {
    top: 1px; // adds a tiny hop to the click
  } // end active

}
