/******************************************************************

Stylesheet: Main Stylesheet

******************************************************************/
/*********************
IMPORTING PARTIALS
*********************/
/* normalize.css 2012-07-07T09:50 UTC - http://github.com/necolas/normalize.css */
/* ==========================================================================
   HTML5 display definitions
   ========================================================================== */
/**
 * Correct `block` display not defined in IE 8/9.
 */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
main,
nav,
section,
summary {
  display: block; }

/**
 * Correct `inline-block` display not defined in IE 8/9.
 */
audio,
canvas,
video {
  display: inline-block; }

/**
 * Prevent modern browsers from displaying `audio` without controls.
 * Remove excess height in iOS 5 devices.
 */
audio:not([controls]) {
  display: none;
  height: 0; }

/**
 * Address `[hidden]` styling not present in IE 8/9.
 * Hide the `template` element in IE, Safari, and Firefox < 22.
 */
[hidden],
template {
  display: none; }

/* ==========================================================================
   Base
   ========================================================================== */
/**
 * 1. Set default font family to sans-serif.
 * 2. Prevent iOS text size adjust after orientation change, without disabling
 *    user zoom.
 */
html {
  font-family: sans-serif;
  /* 1 */
  -ms-text-size-adjust: 100%;
  /* 2 */
  -webkit-text-size-adjust: 100%;
  /* 2 */ }

/**
 * Remove default margin.
 */
body {
  margin: 0; }

/* ==========================================================================
   Links
   ========================================================================== */
/**
 * Remove the gray background color from active links in IE 10.
 */
a {
  background: transparent; }

/**
 * Address `outline` inconsistency between Chrome and other browsers.
 */
a:focus {
  outline: thin dotted; }

/**
 * Improve readability when focused and also mouse hovered in all browsers.
 */
a:active,
a:hover {
  outline: 0; }

/* ==========================================================================
   Typography
   ========================================================================== */
/**
 * Address variable `h1` font-size and margin within `section` and `article`
 * contexts in Firefox 4+, Safari 5, and Chrome.
 */
h1 {
  font-size: 2em;
  margin: 0.67em 0; }

/**
 * Address styling not present in IE 8/9, Safari 5, and Chrome.
 */
abbr[title] {
  border-bottom: 1px dotted; }

/**
 * Address style set to `bolder` in Firefox 4+, Safari 5, and Chrome.
 */
b,
strong,
.strong {
  font-weight: bold; }

/**
 * Address styling not present in Safari 5 and Chrome.
 */
dfn,
em,
.em {
  font-style: italic; }

/**
 * Address differences between Firefox and other browsers.
 */
hr {
  -moz-box-sizing: content-box;
  box-sizing: content-box;
  height: 0; }

/*
 * proper formatting (http://blog.fontdeck.com/post/9037028497/hyphens)
*/
p {
  -webkit-hyphens: auto;
  -epub-hyphens: auto;
  -moz-hyphens: auto;
  hyphens: auto; }

/*
 * Addresses margins set differently in IE6/7.
 */
pre {
  margin: 0; }

/**
 * Correct font family set oddly in Safari 5 and Chrome.
 */
code,
kbd,
pre,
samp {
  font-family: monospace, serif;
  font-size: 1em; }

/**
 * Improve readability of pre-formatted text in all browsers.
 */
pre {
  white-space: pre-wrap; }

/**
 * Set consistent quote types.
 */
q {
  quotes: "\201C" "\201D" "\2018" "\2019"; }

/**
 * Address inconsistent and variable font size in all browsers.
 */
q:before,
q:after {
  content: '';
  content: none; }

small, .small {
  font-size: 75%; }

/**
 * Prevent `sub` and `sup` affecting `line-height` in all browsers.
 */
sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline; }

sup {
  top: -0.5em; }

sub {
  bottom: -0.25em; }

/* ==========================================================================
  Lists
========================================================================== */
/*
 * Addresses margins set differently in IE6/7.
 */
dl,
menu,
ol,
ul {
  margin: 1em 0; }

dd {
  margin: 0; }

/*
 * Addresses paddings set differently in IE6/7.
 */
menu {
  padding: 0 0 0 40px; }

ol,
ul {
  padding: 0;
  list-style-type: none; }

/*
 * Corrects list images handled incorrectly in IE7.
 */
nav ul,
nav ol {
  list-style: none;
  list-style-image: none; }

/* ==========================================================================
  Embedded content
========================================================================== */
/**
 * Remove border when inside `a` element in IE 8/9.
 */
img {
  border: 0; }

/**
 * Correct overflow displayed oddly in IE 9.
 */
svg:not(:root) {
  overflow: hidden; }

/* ==========================================================================
   Figures
   ========================================================================== */
/**
 * Address margin not present in IE 8/9 and Safari 5.
 */
figure {
  margin: 0; }

/* ==========================================================================
   Forms
   ========================================================================== */
/**
 * Define consistent border, margin, and padding.
 */
fieldset {
  border: 1px solid #c0c0c0;
  margin: 0 2px;
  padding: 0.35em 0.625em 0.75em; }

/**
 * 1. Correct `color` not being inherited in IE 8/9.
 * 2. Remove padding so people aren't caught out if they zero out fieldsets.
 */
legend {
  border: 0;
  /* 1 */
  padding: 0;
  /* 2 */ }

/**
 * 1. Correct font family not being inherited in all browsers.
 * 2. Correct font size not being inherited in all browsers.
 * 3. Address margins set differently in Firefox 4+, Safari 5, and Chrome.
 */
button,
input,
select,
textarea {
  font-family: inherit;
  /* 1 */
  font-size: 100%;
  /* 2 */
  margin: 0;
  /* 3 */ }

/**
 * Address Firefox 4+ setting `line-height` on `input` using `!important` in
 * the UA stylesheet.
 */
button,
input {
  line-height: normal; }

/**
 * Address inconsistent `text-transform` inheritance for `button` and `select`.
 * All other form control elements do not inherit `text-transform` values.
 * Correct `button` style inheritance in Chrome, Safari 5+, and IE 8+.
 * Correct `select` style inheritance in Firefox 4+ and Opera.
 */
button,
select {
  text-transform: none; }

/**
 * 1. Avoid the WebKit bug in Android 4.0.* where (2) destroys native `audio`
 *    and `video` controls.
 * 2. Correct inability to style clickable `input` types in iOS.
 * 3. Improve usability and consistency of cursor style between image-type
 *    `input` and others.
 */
button,
html input[type="button"],
input[type="reset"],
input[type="submit"] {
  -webkit-appearance: button;
  /* 2 */
  cursor: pointer;
  /* 3 */ }

/**
 * Re-set default cursor for disabled elements.
 */
button[disabled],
html input[disabled] {
  cursor: default; }

/**
 * 1. Address box sizing set to `content-box` in IE 8/9/10.
 * 2. Remove excess padding in IE 8/9/10.
 */
input[type="checkbox"],
input[type="radio"] {
  box-sizing: border-box;
  /* 1 */
  padding: 0;
  /* 2 */ }

/**
 * 1. Address `appearance` set to `searchfield` in Safari 5 and Chrome.
 * 2. Address `box-sizing` set to `border-box` in Safari 5 and Chrome
 *    (include `-moz` to future-proof).
 */
input[type="search"] {
  -webkit-appearance: textfield;
  /* 1 */
  -moz-box-sizing: content-box;
  -webkit-box-sizing: content-box;
  /* 2 */
  box-sizing: content-box; }

/**
 * Remove inner padding and search cancel button in Safari 5 and Chrome
 * on OS X.
 */
input[type="search"]::-webkit-search-cancel-button,
input[type="search"]::-webkit-search-decoration {
  -webkit-appearance: none; }

/**
 * Remove inner padding and border in Firefox 4+.
 */
button::-moz-focus-inner,
input::-moz-focus-inner {
  border: 0;
  padding: 0; }

/**
 * 1. Remove default vertical scrollbar in IE 8/9.
 * 2. Improve readability and alignment in all browsers.
 */
textarea {
  overflow: auto;
  /* 1 */
  vertical-align: top;
  /* 2 */ }

/* ==========================================================================
   Tables
   ========================================================================== */
/**
 * Remove most spacing between table cells.
 */
table {
  border-collapse: collapse;
  border-spacing: 0; }

* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box; }

.image-replacement,
.ir {
  text-indent: 100%;
  white-space: nowrap;
  overflow: hidden; }

.clearfix, .cf {
  zoom: 1; }
  .clearfix:before, .clearfix:after, .cf:before, .cf:after {
    content: "";
    display: table; }
  .clearfix:after, .cf:after {
    clear: both; }

/*
use the best ampersand
http://simplebits.com/notebook/2008/08/14/ampersands-2/
*/
span.amp {
  font-family: Baskerville,'Goudy Old Style',Palatino,'Book Antiqua',serif !important;
  font-style: italic; }

/*
----------------------------------------
Colors
----------------------------------------
*/
/*
----------------------------------------
Fonts
----------------------------------------
*/
@font-face {
  font-family: 'TripleCondensedGothicRR Light';
  src: url("../fonts/TCGL____.eot");
  /* IE9 Compat Modes */
  src: url("../fonts/TCGL____.eot?#iefix") format("embedded-opentype"), url("../fonts/TCGL____.woff") format("woff"), url("../fonts/TCGL____.ttf") format("truetype"), url("../fonts/TCGL____.svg#861953a85d68fb95c334d112ae724d94") format("svg");
  /* Legacy iOS */
  font-style: normal;
  font-weight: 200; }

@font-face {
  font-family: 'TradeGothic LT Extended';
  src: url("../fonts/Trade Gothic LT Extended.eot");
  /* IE9 Compat Modes */
  src: url("../fonts/Trade Gothic LT Extended.eot?#iefix") format("embedded-opentype"), url("../fonts/Trade Gothic LT Extended.woff") format("woff"), url("../fonts/Trade Gothic LT Extended.ttf") format("truetype"), url("../fonts/Trade Gothic LT Extended.svg#1aaf2ddadbcd7f35c674457a7a032015") format("svg");
  /* Legacy iOS */
  font-style: normal;
  font-weight: 400; }

p {
  -ms-word-wrap: break-word;
  word-break: break-word;
  word-wrap: break-word;
  -webkit-hyphens: auto;
  -moz-hyphens: auto;
  hyphens: auto;
  -webkit-hyphenate-before: 2;
  -webkit-hyphenate-after: 3;
  hyphenate-lines: 3;
  -webkit-font-feature-settings: "liga", "dlig";
  -moz-font-feature-settings: "liga=1, dlig=1";
  -ms-font-feature-settings: "liga", "dlig";
  -o-font-feature-settings: "liga", "dlig";
  font-feature-settings: "liga", "dlig"; }

.text-center {
  text-align: center; }

.text-left {
  text-align: left; }

.text-right {
  text-align: right; }

/******************************************************************

Stylesheet: Sass Functions

******************************************************************/
/*********************
COLOR FUNCTIONS
These are helpful when you're working
with shadows and such things. It's essentially
a quicker way to write RGBA.

Example:
box-shadow: 0 0 4px black(0.3);
compiles to:
box-shadow: 0 0 4px rgba(0,0,0,0.3);
*********************/
/*********************
RESPONSIVE HELPER FUNCTION
If you're creating a responsive site, then
you've probably already read
Responsive Web Design: http://www.abookapart.com/products/responsive-web-design

Here's a nice little helper function for calculating
target / context
as mentioned in that book.

Example:
width: cp(650px, 1000px);
or
width: calc-percent(650px, 1000px);
both compile to:
width: 65%;
*********************/
/*
----------------------------------------
Transition
----------------------------------------
*/
/*
----------------------------------------
Transform
----------------------------------------
*/
/*
----------------------------------------
Gradients
----------------------------------------
*/
/* @include css-gradient(#dfdfdf,#f8f8f8); */
/*
----------------------------------------
Box Sizing
----------------------------------------
*/
/* @include box-sizing(border-box); */
/*
----------------------------------------
Grid
----------------------------------------
*/
.last-col {
  float: right;
  padding-right: 0 !important; }

@media (max-width: 767px) {
  .m-all {
    float: left;
    padding-right: 0.75em;
    width: 100%;
    padding-right: 0; }
  .m-1of2 {
    float: left;
    padding-right: 0.75em;
    width: 50%; }
  .m-1of3 {
    float: left;
    padding-right: 0.75em;
    width: 33.33%; }
  .m-2of3 {
    float: left;
    padding-right: 0.75em;
    width: 66.66%; }
  .m-1of4 {
    float: left;
    padding-right: 0.75em;
    width: 25%; }
  .m-3of4 {
    float: left;
    padding-right: 0.75em;
    width: 75%; } }

/* Portrait tablet to landscape */
@media (min-width: 768px) and (max-width: 1029px) {
  .t-all {
    float: left;
    padding-right: 0.75em;
    width: 100%;
    padding-right: 0; }
  .t-1of2 {
    float: left;
    padding-right: 0.75em;
    width: 50%; }
  .t-1of3 {
    float: left;
    padding-right: 0.75em;
    width: 33.33%; }
  .t-2of3 {
    float: left;
    padding-right: 0.75em;
    width: 66.66%; }
  .t-1of4 {
    float: left;
    padding-right: 0.75em;
    width: 25%; }
  .t-3of4 {
    float: left;
    padding-right: 0.75em;
    width: 75%; }
  .t-1of5 {
    float: left;
    padding-right: 0.75em;
    width: 20%; }
  .t-2of5 {
    float: left;
    padding-right: 0.75em;
    width: 40%; }
  .t-3of5 {
    float: left;
    padding-right: 0.75em;
    width: 60%; }
  .t-4of5 {
    float: left;
    padding-right: 0.75em;
    width: 80%; } }

/* Landscape to small desktop */
@media (min-width: 1030px) {
  .d-all {
    float: left;
    padding-right: 0.75em;
    width: 100%;
    padding-right: 0; }
  .d-1of2 {
    float: left;
    padding-right: 0.75em;
    width: 50%; }
  .d-1of3 {
    float: left;
    padding-right: 0.75em;
    width: 33.33%; }
  .d-2of3 {
    float: left;
    padding-right: 0.75em;
    width: 66.66%; }
  .d-1of4 {
    float: left;
    padding-right: 0.75em;
    width: 25%; }
  .d-3of4 {
    float: left;
    padding-right: 0.75em;
    width: 75%; }
  .d-1of5 {
    float: left;
    padding-right: 0.75em;
    width: 20%; }
  .d-2of5 {
    float: left;
    padding-right: 0.75em;
    width: 40%; }
  .d-3of5 {
    float: left;
    padding-right: 0.75em;
    width: 60%; }
  .d-4of5 {
    float: left;
    padding-right: 0.75em;
    width: 80%; }
  .d-1of6 {
    float: left;
    padding-right: 0.75em;
    width: 16.6666666667%; }
  .d-1of7 {
    float: left;
    padding-right: 0.75em;
    width: 14.2857142857%; }
  .d-2of7 {
    float: left;
    padding-right: 0.75em;
    width: 28.5714286%; }
  .d-3of7 {
    float: left;
    padding-right: 0.75em;
    width: 42.8571429%; }
  .d-4of7 {
    float: left;
    padding-right: 0.75em;
    width: 57.1428572%; }
  .d-5of7 {
    float: left;
    padding-right: 0.75em;
    width: 71.4285715%; }
  .d-6of7 {
    float: left;
    padding-right: 0.75em;
    width: 85.7142857%; }
  .d-1of8 {
    float: left;
    padding-right: 0.75em;
    width: 12.5%; }
  .d-1of9 {
    float: left;
    padding-right: 0.75em;
    width: 11.1111111111%; }
  .d-1of10 {
    float: left;
    padding-right: 0.75em;
    width: 10%; }
  .d-1of11 {
    float: left;
    padding-right: 0.75em;
    width: 9.09090909091%; }
  .d-1of12 {
    float: left;
    padding-right: 0.75em;
    width: 8.33%; } }

/*********************
IMPORTING MODULES
*********************/
/*
----------------------------------------
Button Defaults
----------------------------------------
*/
button {
  font-size: 0.66rem;
  padding: 5px;
  width: 24px;
  height: 24px;
  line-height: 24px;
  color: #ffffff;
  text-align: center;
  display: block;
  -webkit-appearance: none;
  outline: 0;
  border: 1px #ffffff solid;
  border-radius: 24px;
  position: absolute;
  left: 50%;
  bottom: 48px;
  margin-left: -12px;
  z-index: 9999;
  -webkit-transform: translateY(200px);
  -moz-transform: translateY(200px);
  transform: translateY(200px); }
  button.loaded {
    -webkit-transform: translateY(0px);
    -moz-transform: translateY(0px);
    transform: translateY(0px); }
  button .circle {
    display: block;
    border: 1px #ffffff solid;
    border-radius: 12px;
    width: 12px;
    height: 12px; }
    button .circle.solid {
      background-color: #ffffff; }
  button#info-trig {
    margin-left: -36px;
    transition: all 300ms cubic-bezier(0.57, 0.06, 0.05, 0.95); }
  button#help-trig {
    margin-left: 10px;
    transition: all 450ms cubic-bezier(0.57, 0.06, 0.05, 0.95); }

/*********************
BASE (MOBILE) SIZE
*********************/
/*
----------------------------------------
Helper Classes
----------------------------------------
*/
.table {
  display: table;
  width: 100%;
  height: 100%; }
  .table .table-cell {
    width: 100%;
    display: table-cell;
    vertical-align: middle; }

.overlay {
  display: none;
  color: #ffffff;
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0px;
  left: 0px; }

/*
----------------------------------------
General
----------------------------------------
*/
body {
  width: 100%;
  height: 100%;
  margin: 0; }

/*
----------------------------------------
Info * Help
----------------------------------------
*/
/* Loading Message & Help */
#loadingMessage {
  font-family: "TradeGothic LT Extended";
  background-color: #482e84;
  color: #fff;
  position: absolute;
  width: 100%;
  height: 100%;
  text-align: center;
  top: 0px;
  left: 0px;
  transition: all 300ms cubic-bezier(0.57, 0.06, 0.05, 0.95); }

#loadingMessage.loaded {
  background-color: rgba(72, 46, 132, 0.7); }

#loadingMessage .table {
  display: table;
  width: 100%;
  height: 100%; }

#loadingMessage .table div {
  display: table-cell;
  vertical-align: middle;
  opacity: 0;
  transition: opacity 300ms cubic-bezier(0.57, 0.06, 0.05, 0.95); }

#loadingMessage.loaded .table div {
  opacity: 1; }

#info {
  display: none;
  color: #ffffff;
  background-color: #482e84;
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0px;
  left: 0px; }
  #info h1 {
    font-family: "TripleCondensedGothicRR Light";
    font-weight: normal;
    font-size: 350px;
    line-height: 0.6999999;
    letter-spacing: 5pt;
    position: absolute;
    text-align: center;
    margin: 0 !important;
    left: 50%;
    top: 50%;
    -webkit-transform: translateY(-50%) translateX(-50%);
    -moz-transform: translateY(-50%) translateX(-50%);
    transform: translateY(-50%) translateX(-50%);
    width: 202px;
    height: 236px;
    overflow: hidden;
    word-wrap: none;
    white-space: nowrap; }
    #info h1 span {
      height: 100%;
      width: 60px;
      display: inline-block;
      position: relative;
      top: -8px;
      transition: all 300ms cubic-bezier(0.57, 0.06, 0.05, 0.95); }
    #info h1 .w {
      -webkit-transform: translateY(-105%);
      -moz-transform: translateY(-105%);
      transform: translateY(-105%); }
    #info h1 .y {
      -webkit-transform: translateY(105%);
      -moz-transform: translateY(105%);
      transform: translateY(105%);
      left: 3px; }
    #info h1 .d {
      -webkit-transform: translateY(-105%);
      -moz-transform: translateY(-105%);
      transform: translateY(-105%);
      left: -9px; }
    #info h1 .q {
      -webkit-transform: translateY(105%);
      -moz-transform: translateY(105%);
      transform: translateY(105%);
      left: -24px;
      width: 46px; }
    #info h1.loaded .w, #info h1.loaded .y, #info h1.loaded .d, #info h1.loaded .q {
      -webkit-transform: translateY(0px);
      -moz-transform: translateY(0px);
      transform: translateY(0px); }
  #info h2 {
    font-family: "TradeGothic LT Extended";
    font-weight: normal;
    font-size: 1rem;
    margin: 0 !important;
    line-height: 1;
    position: absolute;
    text-align: center;
    text-transform: uppercase;
    left: 0px;
    bottom: 48px;
    width: 100%;
    opacity: 0;
    letter-spacing: 0.33pt;
    transition: all 300ms cubic-bezier(0.57, 0.06, 0.05, 0.95); }
    #info h2.loaded {
      opacity: 1; }
  #info h3 {
    width: 100px;
    height: 13px;
    text-indent: 100%;
    white-space: nowrap;
    overflow: hidden;
    background: url(../img/s-o.png) no-repeat center center;
    background-size: contain;
    font-family: "TradeGothic LT Extended";
    font-weight: normal;
    font-size: 1rem;
    margin: 0 !important;
    line-height: 1;
    position: absolute;
    left: 50%;
    -webkit-transform: translateX(-50%);
    -moz-transform: translateX(-50%);
    transform: translateX(-50%);
    top: 48px;
    opacity: 0;
    transition: all 300ms cubic-bezier(0.57, 0.06, 0.05, 0.95); }
    #info h3.loaded {
      opacity: 1; }

/*
----------------------------------------
Screenshot Gate
----------------------------------------
*/
#screenshot-gate {
  width: 100%;
  height: 100%;
  z-index: 9998;
  background: transparent;
  top: 0px;
  left: 0px;
  position: fixed; }
  #screenshot-gate:active {
    background-color: rgba(255, 255, 255, 0.85); }

body.info-active #screenshot-gate, body.help-active #screenshot-gate {
  display: none; }

/*
----------------------------------------
WYD05
----------------------------------------
*/
audio {
  display: none !important; }

#wyd05-content span {
  text-transform: uppercase;
  font-family: "TripleCondensedGothicRR Light";
  font-size: 160px; }

/*
----------------------------------------
WYD07
----------------------------------------
*/
#wyd07 #wyd07-content img {
  display: none;
  position: absolute;
  max-width: 66.6%;
  height: auto;
  display: block;
  left: 50%;
  top: 50%;
  -webkit-transform: translateX(-50%) translateY(-50%);
  -moz-transform: translateX(-50%) translateY(-50%);
  transform: translateX(-50%) translateY(-50%);
  transition: all 300ms cubic-bezier(0.57, 0.06, 0.05, 0.95); }

#wyd07 #wyd07-content:nth-last-child(-n+3) {
  display: block; }

/*
----------------------------------------
WYD08
----------------------------------------
*/
#wyd08 {
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
  opacity: 0.85; }

/*
----------------------------------------
WYD10
----------------------------------------
*/
#wyd10 #wyd10-content {
  padding: 24px; }
  #wyd10 #wyd10-content img {
    width: 240px;
    height: auto;
    display: inline-block;
    margin-bottom: 12px; }

/*********************
LARGER MOBILE DEVICES
*********************/
/*********************
TABLET & SMALLER LAPTOPS
*********************/
/*********************
DESKTOP
*********************/
/*********************
LARGE VIEWING SIZE
*********************/
/*********************
RETINA (2x RESOLUTION DEVICES)
*********************/
/*********************
PRINT STYLESHEET
*********************/
@media print {
  /*
----------------------------------------
Print
----------------------------------------
*/
  * {
    background: transparent !important;
    color: black !important;
    text-shadow: none !important;
    filter: none !important;
    -ms-filter: none !important; }
  a, a:visited {
    color: #444 !important;
    text-decoration: underline; }
    a:after, a:visited:after {
      content: " (" attr(href) ")"; }
    a abbr[title]:after, a:visited abbr[title]:after {
      content: " (" attr(title) ")"; }
  .ir a:after,
  a[href^="javascript:"]:after,
  a[href^="#"]:after {
    content: ""; }
  pre, blockquote {
    border: 1px solid #999;
    page-break-inside: avoid; }
  thead {
    display: table-header-group; }
  tr, img {
    page-break-inside: avoid; }
  img {
    max-width: 100% !important; }
  @page {
    margin: 0.5cm; }
  p, h2, h3 {
    orphans: 3;
    widows: 3; }
  h2,
  h3 {
    page-break-after: avoid; }
  .sidebar,
  .page-navigation,
  .wp-prev-next,
  .respond-form,
  nav {
    display: none; } }
